@import "tailwindcss";

/* =========================
   🎨 CSS VARIABLES
   ========================= */
:root {

  /* --- PRIMARY --- */
  /* --primary: #5479ee; */
  --primary: #4335A7;

  /* --- SECONDARY --- */
  /* --secondary: #dedefb; */
  --secondary: #F5FBE6;
  --secondary00: #ffe3c4;

  /* --- NEUTRAL --- */
  --white: #ffffff;
  --gray00: #fafafa;
  --gray01: #f2f2f2;
  --gray02: #e6e6e6;
  --gray03: #d9d9d9;
  --gray04: #999999;
  --gray05: #ffffff;
  --gray06: #666666;
  --black: #292d32;

  /* --- RED --- */
  --red00: #fff0f0;
  --red05: #f20d0d;

  /* --- YELLOW --- */
  --yellow00: #fff9f0;
  --yellow: #f2aa0d;

  /* --- GREEN --- */
  --green00: #e9ffeb;
  --green05: #32a03b;

  /* --- BLUE --- */
  --blue00: #ffffff;
  --blue01: #e9f6ff;
  --blue02: #c2e2f2;
  --blue03: #89cbf9;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

/* =========================
   🎨 Tailwind Theme Mapping
   ========================= */
@theme inline {
  /* --- COLORS --- */
  --color-primary: var(--primary);

  --color-secondary: var(--secondary);
  --color-secondary00: var(--secondary00);

  --color-white: var(--white);
  --color-gray00: var(--gray00);
  --color-gray01: var(--gray01);
  --color-gray02: var(--gray02);
  --color-gray03: var(--gray03);
  --color-gray04: var(--gray04);
  --color-gray05: var(--gray05);
  --color-gray06: var(--gray06);
  --color-black: var(--black);

  --color-red00: var(--red00);
  --color-red05: var(--red05);

  --color-yellow00: var(--yellow00);
  --color-yellow: var(--yellow);

  --color-green00: var(--green00);
  --color-green05: var(--green05);

  --color-blue00: var(--blue00);
  --color-blue01: var(--blue01);
  --color-blue02: var(--blue02);
  --color-blue03: var(--blue03);

  /* --- FONTS (Next Font) --- */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

/* =========================
   📄 Global Body
   ========================= */
html,
body {
  font-family: var(--font-poppins) !important;
  background: var(--color-gray00);
  color: var(--color-black);
  font-family: var(--font-sans);
}

/* =========================
   🔹 Scrollbar
   ========================= */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 4px;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* =========================
   🔹 Utilities
   ========================= */
.chevron {
  transition: transform 0.5s ease;
}

.rotate {
  transform: rotate(90deg);
}

.swal-pad-0 {
  padding: 0 !important;
}

.swal2-html-container {
  padding: 0 !important;
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}